@model ApplicationCore.Models.Response.CastDetailsResponseModel

<div class="container">
    <div class="row">
        <div class="col">
            <div>

                <p>@Model.Name</p>
                <p>
                    <img src="@Model.ProfilePath"
                         class="rounded float-start"
                         alt="@Model.Name" />
                </p>
                <h5>Movie List</h5>
                @foreach (var movie in Model.Movie)
                {
                    <p>
                        <img src="@movie.PosterUrl"
                             class="rounded float-start"
                             alt="@movie.PosterUrl" />
                    </p>

                }



            </div>
        </div>
        <div class="col-6">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col-5">
            2 of 3 (wider)
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>